<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../../public/css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body>
    <main class="flex justify-center items-center min-h-screen">

        <!-- container -->
<form  class="flex  h-[400px] w-[600px]">
<div>

</div>



</form>

    </main>
</body>
</html>