@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    color: #fffeee;
  
}
body{
  background-color: #121212;
}
.fonto {
  font-family: 'Lobster', serif;
}


:root {
  --color-primary-50: #FEFBE8;
  --color-primary-100: #FDF7C4;
  --color-primary-200: #FDEC8B;
  --color-primary-300: #FBDA49;
  --color-primary-400: #F7C518;
  --color-primary-500: #E7AD08;
  --color-primary-600: #C88506;
  --color-primary-700: #9F5F09;
  --color-primary-800: #844A0F;
  --color-primary-900: #703D13;
  --color-primary-950: #572909;
}




